/DouImp.csproj.user
/Config
/log
/obj
/tmp
/bin/DouImp.pdb
/bin/DouImp.dll
/.vs/DouImp
/Scripts/gis
/Scripts/Dou
/bin/Dou.pdb
/bin/FtisHelperV2.pdb
/bin/app.publish
/Properties/PublishProfiles
/bin/DouImp.dll.config
/Web.config.Brian
