/FtisDrawGame.csproj.user
/Config
/log
/obj
/tmp
/bin/FtisDrawGame.pdb
/bin/FtisDrawGame.dll
/.vs/FtisDrawGame
/Scripts/gis
/Scripts/Dou
/bin/Dou.pdb
/bin/FtisHelperV2.pdb
/bin/app.publish
/Properties/PublishProfiles
/bin/FtisDrawGame.dll.config
/Web.config.Brian
