<script src="~/Scripts/prj/ActBasic.js"></script>
@using Dou.Misc.Extension
@Html.MenuMap()
@Html.DataManagerOptionsJavascript(null, "douoptions")

<div id="_tabs">
    <table id="_table"></table>
</div>